

body{
  margin: auto;
}

.zone {
  overflow: hidden;
    cursor:pointer;
    display:block;
    text-align: center;
    font: size 16px;;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
        background: url("/unsplash/int5.jpg") no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-size:cover;
        min-height: 550px;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



header a {
  text-decoration: none;
}

header {
  padding: 0 20px;

  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #000000;
}

ul {
  font-weight: bold;
  list-style: none;
  margin-right: 500px;
 
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

ul a {
  color: rgb(0, 0, 0);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}







  .parent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
   
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    padding: 150px;
    }
    
    .div1 {
        background: url("unsplash/int1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 100px;
        height: 500px;
        
      
        grid-area: 1 / 1 / 3 / 2; }
    .div2 { 
        background: url("unsplash/int2.jpg");
        background-size: 800px 250px;
        background-repeat: no-repeat;
        height: 250px;
        
      
        
        grid-area: 1 / 2 / 2 / 3; }
    .div3 { 
        background: url("unsplash/int9.jpg");
        background-size: 800px 250px;
        background-repeat: no-repeat;
        height: 250px;
       
      
        grid-area: 2 / 2 / 3 / 3; }

button{
   background-color: aqua;
   background: rgb(236, 236, 236);
   float: right;
   border: 1px solid;
   border-radius: 5px;
   padding: 5px 10px;
   margin-top: 220px;
    margin-right: 20px;
 
 
}
.btn1{
    padding: 5px 10px;
    margin-top: 470px;
    margin-right: 20px;
    background-color: aqua;
    background: rgb(253, 253, 253);
   float: right;
  

}

.u-btn {
 
  display: table;
  
  cursor: pointer;
  color: #000000;
 
 border-radius: 5px;
  text-decoration: none;
  background: rgb(255, 255, 255);
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
 
  align-self: flex-start;
}


section{
  display: block;
  position: relative;
  
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 131px 252px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 21px -21px 0 auto;
  color: rgb(32, 32, 32);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 36px auto 60px 412px;
  padding: 8px 33px;
}





.u-text a{
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}



@media  screen and (max-width: 500px) {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    .u-btn-1{
      position: absolute;
      left: 40%;
 
      color: rgb(0, 0, 0);
    }
           .parent {
           
         display: inline;
         padding: 10px;
           
       }
    
       article{
          display: inline-block;
          
       }
       
}


@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 193px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
  }
}
/*ipad air*/
@media  screen and (max-width: 820px) {

  .u-btn-1{
    position: absolute;
    left: 40%;

    color: rgb(233, 14, 14);
  }

  .parent {
   
    display: list-item;
   
  }

  


}
  @media  screen and (max-width: 360px) {

    .u-btn-1{
      position: absolute;
      left: 35%;
  
      color: rgb(39, 0, 83);
    }
  
  }

  @media  screen and (max-width: 393px) {

    .u-btn-1{
      position: absolute;
      left: 30%;
  
      color: rgb(39, 0, 83);
    }
  
  }

  @media  screen and (max-width: 414px) {

    .u-btn-1{
      position: absolute;
      left: 32%;
  
      color: rgb(39, 0, 83);
    }
  
  }


  @media  screen and (max-width: 768px) {
 

  ul{
    margin-right: 300px;
    align-items: center;
    justify-content: space-around;
  }
}

@media  screen and (max-width: 920px) {
 

  ul{
    margin-left: 200px;
    align-items: center;
    justify-content: space-around;
  }
}

@media  screen and (max-width: 912px) {

  .u-btn-1{
    position: absolute;
    left: 35%;

    color: rgb(39, 0, 83);
  }

}